<div class="container-fluid h-100">
  <!-- BREAKPOINT IS LG -->
  <div class="Principal row d-flex">

    <header class="Principal-header Header col-12 col-lg-4 d-lg-flex px-0" style="border:2px solid red">

      <div class="Header-names d-none d-lg-block border">
        <h5 class="Header-h5 Header-h5--verticalAlign text-muted"> <small class="text-muted">Design by </small> Juan T.</h5>
      </div>

      <div class="Header-blocks position-relative py-5">
        <div class="Header-block Header-block--img shadow-lg">
          <!--    <img src="assets/map.jpg" alt="" class="Header-img"> -->
        </div>

        <div class="Header-block text-center mt-4">
          <h5 class="Header-h5">Maps</h5>
          <p class="px-2">Busca tu restaurante favorito, y encuentralo en nuestro mapa!</p>
        </div>

        <div class="Header-block Header-block--sidenav" style="border:2px solid red">

        </div>

      </div>

    </header>


    <main class="Main col-12 col-lg-5 flex-grow-1" style="border:2px solid blue">

    </main>
  </div>


</div>