
.Results {
    max-height: 30rem;
    overflow: auto;

    &-li {
        position:relative;
        &:hover {
            cursor: pointer;
        }
    }


    &::-webkit-scrollbar-track{
        background:red;
        color:black;
    }

   &-a{
    text-decoration: none;
    color:black;
   }
    
}

