<form action="Form row">
    <input type="text" class="Form-input form-control" placeholder="Busca tu restaurante"
        (input)="obtenerRestaurantes($event)">
</form>

<div class="alert alert-danger mt-2 text-center border shadow-sm" *ngIf="!placesIsReady">
    <h6>Cargando</h6>
    <span>Espere por favor...</span>
</div>

<div class="Results  mt-3" *ngIf="places.length>0">
    <ul class="Results-ul list-group">
        <li class="Results-li list-group-item border-bottom list-group-item-action pointer" 
            *ngFor="let place of places"
            [class.active]="place.id === idSelected " (click)="flyToo(place)">
            <h6 class="Results-h6">{{place.text_es}}</h6>
            <p class="Results-p">{{place.place_name}}</p>
            <button class="Results-button btn btn-sm btn-danger border shadow-sm">Direccionar</button>
        </li>

    </ul>
</div>